@import url(https://fonts.google.com/specimen/Poppins);
@import url(https://fonts.google.com/specimen/Open+Sans);

* {
    margin: 0;
    box-sizing: border-box;
}

/* Main */
main{
    background-image: url(./images/bg-mobile.svg);
    background-color:hsl(257, 40%, 49%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

/* Header */

.logo {
    width: 40%;
    margin-left: 20px;
}


/* Hero */

.img__hero{
    background: url(./images/illustration-mockups.svg) no-repeat center/contain;
    padding: 0;
    height: 300px;
}

/* Features */

.features {
text-align: center;
color: white;
display: flex;
flex-direction: column;
gap: 20px;
}

.h1__features{
    font-family: Poppins;
    font-weight: 600;
}

.text__features{
    font-family: Open Sans;
    font-weight: 400;
    text-align:center;
    padding: 10px;
}

.button__features{
    background-color: white;
    border-radius: 1000px;
    width: 10px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: hsl(257, 40%, 49%) ;
    width: 175px;
}

.button__features:hover{
    background-color: hsl(300, 69%, 71%);
}
/* Footer */

.social__footer{
    display: flex;
    justify-content: center;
}

.image{
    width: 50px;
    height: 50px;
}

.facebook__social{
    background: hsl(257, 40%, 49%) url(https://fontawesome.com/) no-repeat center/cover;
}

.tweeter__social{
    background: hsl(257, 40%, 49%) url(https://icomoon.io/) no-repeat center/cover;


}

.instagram__social{
    background: hsl(257, 40%, 49%) url(https://ionicons.com/) no-repeat center/cover;


}