@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

/* Main */
body {
    background: hsl(257, 40%, 49%) url(./images/bg-mobile.svg) no-repeat center/contain;
    background-position: 0% 0%;
    margin: 15px;
}

/* Header */

.logo {
    width: 40%;
    max-width: 200px;
    margin-left: 20px;
    margin-top: 15px;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

/* Hero */

.img__hero {
    padding-top: 20px;
    background: url(./images/illustration-mockups.svg) no-repeat center/contain;
    height: 300px;
}

/* Features */

.features {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h1__features {
    font-family: Poppins;
    font-weight: 600;
}

.text__features {
    font-family: Open Sans;
    font-weight: 400;
    text-align: center;
}

.button__features {
    background-color: white;
    border-radius: 1000px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: hsl(257, 40%, 49%);
    width: 175px;
}

.button__features:hover {
    background-color: hsl(300, 69%, 71%);
}

/* Footer */

.footer {
    margin-top: 30px;
}

.social__footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image {
    width: 35px;
    height: 35px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media (min-width: 622px) {
    body {
        background-size: cover;
    }
}



@media (min-width: 743px) {

    .text__features {
        width: 50vw;
        align-self: center;
    }

}



    @media (min-width: 1077px) {
        body {
            height: 100vh;
            background: hsl(257, 40%, 49%) url(./images/bg-desktop.svg) no-repeat center/contain;
            background-size: cover;
        }

        main {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            height: 70vh;
        }

        .hero {
            width: 50vw;
        }

        .img__hero{
            background-size: cover;
        }

        .features {
            width: 50vw;
        }

        .features>* {
            text-align: left;
        }

        .register__features {
            align-self: flex-start;
        }

        .img__hero {
            background: url(./images/illustration-mockups.svg) no-repeat center/contain;
        }

        .social__footer {
            justify-content: flex-end;
            padding-right: 4rem;
        }

        .footer{
            /* margin-top: 15rem; */
        }

    }
